<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-lista></app-lista>
    </div>
    <div class="col-md-6">
      <app-agregar></app-agregar>
    </div>
    <!-- <div class="col-md-12">
      <h1 class="">Lista de Tareas</h1>
    </div>
    <div class="col-md-8">
      <div *ngFor="let item of items | async" class="alert alert-warning" role="alert">
        <div class="row">
          <div class="col-md-10">
              {{item.name}}
          </div>
          <div class="col-md-1">
              <i class="fas fa-edit"></i>
          </div>
          <div class="col-md-1">
              <i class="fas fa-trash-alt"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Titulo de tarea">
        </div>
        <button type="submit" class="btn btn-warning">Agregar</button>
      </form>
    </div> -->
  </div>
</div>
<router-outlet></router-outlet>